.raised-btn.btn,
.raised-btn.btn-large {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 18px;
    padding-right: 18px;
    height: auto;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: none;
    border-radius: 4px;
    text-transform: inherit;
    font-weight: 400;
}

.raised-btn.btn-primary,
.raised-btn.btn-primary:focus {
    background-color: var(--color-button-primary);
    /* color: #000000; */
}
.raised-btn.btn-primary:hover {
    background-color: var(--color-button-primary-dark);
}
.raised-btn.btn-secondary,
.raised-btn.btn-secondary:focus {
    background-color: var(--color-button-secondary);
}
.raised-btn.btn-secondary:hover {
    background-color: var(--color-button-secondary-dark);
}
