/* Intro */
#intro .col {
    height: calc(100vh - 152px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro img {
    width: 100%;
}

#intro h3 {
    font-size: 2.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 4rem;
    letter-spacing: 3px;
    background: linear-gradient(
        to right,
        var(--color-primary) 0%,
        var(--color-secondary) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#intro h6 {
    padding-top: 2px;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    word-spacing: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 2.3rem;
}

@media only screen and (max-width: 992px) {
    /* Intro */
    #intro h3 {
        font-size: 2.3rem;
        line-height: 3rem;
        letter-spacing: 6px;
    }

    #intro h6 {
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
        word-spacing: 0.6rem;
        line-height: 1.8rem;
    }
}
