.primary-section {
    padding-top: 90px;
    padding-bottom: 90px;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}

.parallax-container {
    background: rgba(0, 0, 0, 0.4);
}

/* Heading */
.heading {
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    font-family: 'Bree Serif';
    letter-spacing: 4px;
    color: #333333;
}

.paragraph {
    letter-spacing: 0.7px;
    word-spacing: 1px;
}

.raised-btn.btn,
.raised-btn.btn-large {
    background-color: var(--color-primary);
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 28px;
    padding-right: 28px;
    height: auto;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.mt-2 {
    margin-top: 24px;
}
.mb-2 {
    margin-bottom: 24px;
}

@media only screen and (max-width: 992px) {
    /* Heading */
    .heading {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    /* Paragraph */
    .paragraph {
        font-size: 1.1rem;
        letter-spacing: 0.7px;
        word-spacing: 1px;
    }
}
