@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:300,400|Poppins:300,400,500,600,700');


:root {
    --color-gray: #525252;
    --color-primary: #00c4a6;
    --color-secondary: #3c7afc;
}

::selection {
    background-color: var(--color-secondary);
    color: #ffffff;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
